<title>Pyramids</title>

<!-- Módulos Úteis -->
<script src="/libs/dat-gui/dat.gui.js"></script> <!-- Interface GUI da Google, versão 0.07, procurar outra talvez-->
<script src="/src/libs/gl-matrix/gl-matrix.js"></script>

<script type="module" src="/src/scripts/qzr-webgl-utils.js"></script>
<script type="module" src="/src/scripts/webgl.js"></script>
<script type="module" src="/src/scripts/pyramid.js"></script>
<script type="module" src="/src/scripts/GUI-Pyramids.js"></script>
<script type="module" src="/src/shaders/vertex.mjs"></script>
<script type="module" src="/src/shaders/fragment.mjs"></script>


<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
