<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <canvas id="canvas">
      O navegador que você está usando não tem compatibilidade com o Elemento Canvas do HTML 5.
  </canvas>

  <% include ../partials/nav.ejs %>

</body>

</html>